    .stop-watch{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }



    .timer{
      margin : 3rem 0;
      width: 100%;
      display: flex;
      height: 12%;
      justify-content: center;
      align-items: center;
    }
    
    .digits{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 3rem;
      color:  #ff0000;
      
    }
    
    .mili-sec{
      color:  #ff0000;
    }
    
    
    .Control-Buttons {
    margin: 3rem 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .btn-grp {
    display: flex;
    align-items: center;
    justify-content: space-around;
    }
    
    .btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 10vw;
    height: 5vh;
    border-radius: 14px;
    margin: 0px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #f5f5f5;
    box-shadow: 3px 3px 4px rgb(66, 65, 65);
    }
    
    .btn-one{
    background-color: #e42a2a;
    border: 2px solid #000000;
    }
    
    .btn-two{
    background-color: #00f7ff;
    border: 2px solid #000000;
    }

    .btn-three{
      background-color: #15ff00;
      border: 2px solid #000000;
      }

    body{
      background: linear-gradient(45deg, #00ff7328, #a2d5c665);
      /* background: linear-gradient(45deg, #000000, #ffffff); */
      color: #2A363B;
      
    }

    

    .navbar{
      display: flex;
      justify-content: space-evenly;
      background-color: #046674;
      margin: 0px;
      height: 6vh;
    
    }

 
.navbar__item{
  background-color: #e5fcc2d5;

  border: none;
  text-align: center;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
}

.navbar__link{
  color: #2A363B;
  text-decoration: none;
  font-size: 1vw;
}



    .mainhomepagecontainer{
      height: 100%;
      width: 100%;
       display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100vh; 
    }


    .homepageMinusNav{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 94vh;
    }


    .app-title{
      font-size: 7vw;
      margin : 3vw 0;
      width: 60%;
      display: flex;
      height: 12%;
      justify-content: center;
      align-items: center;
    }
    
    .app-description{
      font-size: 2vw;
      margin : 3vw 0;
      width: 50%;
      display: flex;
      height: 12%;
      justify-content: center;
      align-items: center;
    }

    .navbar__link__seperated{
      font-size: 3vw;
      margin : 2vw 0;
      width: 100%;
      display: flex;
      height: 30%;
      justify-content: center;
      align-items: center;
    }

   .navbar__linkUSER{
     margin-top: 9vh;
     font-size: 25px;
   }



   .algLink {
    font: bold 15px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    margin-top: 3vh;
    width: 5vw;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }



    /* *{
      border: dotted greenyellow;
    } */